#set( $title = "Show Employers" )
#parse("public/top.vm")
<body>
    #if ($employers)
    <h2>List of all employers:</h2>
    <div class="container">
        <ol>
            #foreach($em in $employers)
                    <li>
                        <i>$em.name</i> is a ($em.sector) company: $em.summary.
                        <button type="button" id="$em.name">X</button>
                    </li>
            #end
        </ol>
    </div>
    #end

<form action="/employers" onsubmit="return addNewEmployer(employerName, employerSector, employerSummary) & validateEmployer()">
    <fieldset>
        <div>
            <label for="addnew">Add new: </label>
            <input type="text" name="employerName" placeholder="Required" required />
            <input type="text" name="employerSector" id="sector" />
            <input type="text" name="employerSummary" id="summary" />
            <button type="submit" id="addNew">&#10004</button>
        </div>
    </fieldset>
</form>
<script src="js/employers.js"></script>
<script src="js/validate.js"></script>
#parse("public/bottom.vm")